/* HEADER */
#header {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header ul {
    list-style: none;
    padding-inline-start: 0;
}

#header .list-right li {
    display: inline;
}

    /* header:hover */